

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */

.navbar-toggler-icon{
  background-color: white;
}
.navbar-brand{
  padding-top: 2.3125rem;
}


.banner{
  height: 72vh;
}
.banner-text{
  height: 70vh;
}
.banner-form {
    height: 63vh;
    padding-top: 0;
}
.banner-text .btn-1 {
    border: 3px solid #fff;
    border-left: 3px solid gray;
    padding: 10px 30px;
    margin-left: 8px;
}
.card{
    margin-left: -104px;
}
.social-part .offset-1{
    margin-left: 8.333333%;
}
.social-part ul{
    margin-bottom: 0rem;
    padding-left: 0rem;
}
.social-part ul li{
    padding: 40px 11px;
}
.service .col-md-6{
  padding-left: 42px;
}
.service .col-md-2{
  padding: 0;
}
.service button{
  margin-left: 0;
  margin-top: 40px;
}
.sublist .row{
  flex-direction: column;
}
.sublist.feature2{
  margin-left: 75px;
}
.sublist .col-md-6{
  width: 100%;
}
.sublist-title-top .row{
  flex-direction: inherit;
}
.sublist-title-bottom .row{
  flex-direction: inherit;
}
.standard-picture .picture{
  display: flex;
  align-items: center;
}
.awesome-up h4{
  margin-bottom: 25px;
}
.awesome-up p{
  margin-top: 25px;
}
.section-content h3{
  padding-top: 25px;
}
.section-content p{
  padding-top: 25px;
}
.user-right{
  padding: 0 22px;
}
.design button{
  margin-left: 243px;
}
.section-content h3 {
  margin-bottom: 15px;
}
.section-content p{
  padding-top: 30px;
}
.input-field .contact-button {
  margin: 30px 0px 30px 280px;
}
.extra ul {
  margin-left: 0px;
}
.social-part ul li{
  font-size: 17px;
}
.social-part .offset-1 {
  margin: auto;
}
.extra .social-text p{
  padding-left: 60px;
  font-size: 16px;
}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 540px) {
  
  /* CSS */
  html,body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .navbar{
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
  }
  .navbar-toggler-icon {
    background-color: white;
  }
  header button{
    margin-left: 277px;
    margin-top: -40px;
  }

  .navbar-toggler{
    font-size: 1rem;
    border: none;
    border-radius: 0;
  }
  .navbar-light .navbar-toggler{
    padding-top: 13px;
  }
  .navbar-brand element.style{
    width: 70%;
  }
  .banner{
    text-align: center;
    padding-top: 40px;
    height: 122vh;
    padding-top: 31px;
  }
  .banner-text .img-fluid{
    max-width: 27%;
  }
  .banner-text h1{
    font-size: 18px;
    width: 100%;
  }
  .banner-text .line{
    margin: auto;
  }
  .banner-text p {
    width: 100%;
    margin-bottom: 0;
  }
  .banner-text{
    height: 50vh;
  }
  .banner-text .btn-1 {
    margin: 0;
  }
  .banner-form{
    padding-top: 0px;
  }
  .card{
    margin-right: 55px;
    margin-bottom: 60px;
  }
  .banner .col-md-4 {
    visibility: visible;
  }
  .social-part{
    text-align: center;
  }
  .social-part ul{
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    padding: 0px;
  }
  .social-part ul li{
    padding: 20px 10px;
    font-size: 20px;
  }
  .social-part ul li a i{
    visibility: visible;
  }
  .service{
    padding: 45px 0px;
    height: 150vh;
  }
  .service ul{
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    visibility: visible;
  }
  .service h4{
    margin: 0;
    padding-top: 20px;
  }
  .service p{
    margin: 0;
  }
  .service .col-md-6{
    text-align: center;
  }
  .service .col-md-6 button{
    visibility: visible;
  }
  .service button{
    margin-left: 0px;
    margin-top: 41px;
    margin-bottom: 47px;
  }
  .service .col-md-4 .img-fluid {
    max-width: 100%;
  }
  .sublist{
    text-align: center;
  }
  .sublist .line{
    margin: auto;
  }
  .sublist h5 {
    padding: 20px 0;
    margin: 0;
  }
  .sublist p {
    padding: 20px 0;
    margin: 0;
  }
  .sublist-title-top h6{
    margin: 0;
    padding-top: 20px;
  }
  .sublist-title-top p{
    padding: 20px 0;
    margin: 0;
  }
  .sublist-title-bottom h6 {
    margin: 0;
    padding-top: 20px;
  }
  .sublist .img-fluid{
    visibility: visible;
  } 

  .standard-picture{
    text-align: center;
  }
  .standard-picture h4{
    margin: 0;
    padding-bottom: 20px;
  }
  .standard-picture .line{
    margin: auto;
  }
  .standard-picture p{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .standard-picture .img-fluid{
    visibility: visible;
  }

  .awesome{
    padding: 30px 0px;
  }
  .awesome-up h4{
    margin: 0;
    padding-bottom: 20px;
  }
  .awesome-up p{
    margin: auto;
    padding-top: 20px;
  }
  .awesome-down h6{
    margin: 0;
    padding-bottom: 10px;
  }
  .awesome-down p{
    margin: 0;
  }

  .pricing{
    padding: 30px 0px;
  }
  .table-1{
    padding: 15px 0;
  }

  .testimonial{
    padding-top: 20px;
    text-align: center;
  }
  .section-content h3{
    padding-bottom: 20px;
  }
  .section-content p{ 
    padding-top: 20px;
  }
  blockquote{
    margin: 0 0 0rem;
  }
 
 .design {
    padding: 0px;
 }
 .section-design h3{
    font-size: 27px;
    padding-top: 20px;
 }

 .input-field .row{
    flex-direction: row-reverse;
 }
 .extra ul{
       padding: 0px 114px;
 }
 .extra{
  padding: 0 88px;
 }
 .extra ul {
      margin-left: -184px;
 }
 .extra .social-text p{
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0;
 }
 .input-field .contact-button{
  margin: 30px 0px 30px 96px;
 }

}